#используется для шифрования логина/пароля и учетных данных imap/smtp в токене авторизации, если соль не задана то генерится случайная и потребуется переавторизация при каждом рестарте сервера
ENCRYPTION_PASSWORD=PASS
CREDENTIALS_SALT=19a43ee9febce77b

#пароль для доступа к админке, если не задан то = pass
ADMIN_PASS=strong_pass

#двое суток
CREDENTIALS_DURATION_MINUTES=2880
#24 часа
CREDENTIALS_REFRESH_BEFORE_DURATION_MINUTES=1440

DB_USERNAME=postgres
DB_PASSWORD=db_pass