#используется для шифрования логина/пароля и учетных данных imap/smtp в токене авторизации
ENCRYPTION_PASSWORD=PASS
CREDENTIALS_SALT=19a43ee9febce77b

#двое суток
CREDENTIALS_DURATION_MINUTES=2880
#24 часа
CREDENTIALS_REFRESH_BEFORE_DURATION_MINUTES=1440